@import './utils/fonts.scss';

@import './utils/variables';

@import './utils/base';

@import './utils/utils';

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}

.section {
  padding: 48px 0;
}

@import './components/header';

@import './components/main';

@import './components/traditions';

@import './components/chefs';

@import './components/formats';

@import './components/contacts';

@import './components/footer';

@import './components/modal';
