.footer {
  position: relative;
  background-color: #31261a;
  background-image: url(../images/footer-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 32px 0px;
}

.footer::before,
.footer::after {
  background-repeat: no-repeat;
  bottom: 0;
  position: absolute;
  content: '';
}

.footer::before {
  width: 180px;
  height: 120px;
  left: 0;
  background-image: url(../images/decor-bread-small.png);
}

.footer::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url(../images/decor-bread-large.png);
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-list {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}
.footer-item {
  margin-bottom: 16px;
}

.address-info {
  flex-grow: 1;
}

.address-link {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

.address-icon {
  fill: var(--color-primary-light);
}

.icons {
  display: flex;
  gap: 22px;
}

.copyright {
  color: #a18268;
  font-weight: 400;
  font-size: 14px;
}
