.format-cards {
  display: flex;
  gap: 20px;
}

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.card {
  border-radius: 16px;
  flex-basis: calc((100% - 40px) / 3);
  padding: 24px;
  transition: transform 0.3s;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.card::before {
  position: absolute;
  content: '';
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  border-radius: 16px;
  border: 2px solid grey;
}
.card.walrus {
  background-image: url(../images/walrus-image.png);
}

.card.horseshoe {
  background-image: url(../images/horseshoe-image.png);
}

.card.handlebar {
  background-image: url(../images/handlebar-image.png);
}

.card:hover {
  transform: scale(1.05);
}

.carousel-button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-primary-dark);
  cursor: pointer;
}

.carousel-button.next {
  transform: rotate(180deg);
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

.carousel-points {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
}
.format-article {
  position: relative;
  color: var(--color-primary-light);
  height: 444px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.format-description {
  margin: 0 24px 24px 24px;
}
.format-description p {
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}

.format {
  font-weight: 600;
  font-size: 24px;
  margin: 0 24px 24px 24px;
}

.format-title {
  margin-bottom: 80px;
  text-align: center;
}

.format-description {
  font-weight: 300;
  font-size: 14px;
}
