.hero-section {
  padding: 272px 0;
  background:
    linear-gradient(
      127deg,
      rgba(18, 18, 17, 0.78) 0%,
      rgba(18, 18, 17, 0.6) 63.89%,
      rgba(18, 18, 17, 0) 100%
    ),
    url(../images/hero-section-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.hero-title {
  text-align: center;
  font-weight: 900;
  font-size: 128px;
  color: var(--color-primary-light);
}

.hero-section .accent {
  color: var(--color-brand-light);
}

.advantages-section {
  background-color: var(--color-brand-light);
  padding: 16px 0px;
}
.advantages-list {
  color: var(--color-primary-light);
  font-weight: 300;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
