.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    visibility 0.3s,
    opacity 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 880px;
  height: 880px;
  position: relative;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  padding: 128px 128px 108px 128px;
}

.modal-button-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

.modal-title {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  font-weight: 900;
  font-size: 64px;
  line-height: 131%;
}

.modal-p {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.input {
  height: 55px;
  width: 605px;
  padding: 16px 42px;
  border: 1px solid var(--color-brand-light2);
  border-radius: 8px;
  margin-bottom: 32px;
  background-color: transparent;
}

.input:focus {
  outline: none;
  border-color: var(--color-brand-light);
}

.input:focus::placeholder {
  color: var(--color-primary-dark);
}

.modal-button {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 24px;
  width: 238px;
  height: 60px;
}

.modal-terms {
  font-weight: 500;
  font-size: 12px;
  line-height: 146%;
  width: 220px;
  text-align: center;
  margin: 0 auto;
}

.modal-terms a {
  text-underline-offset: 2px;
  color: var(--color-primary-dark);
}

.modal .modal-bread-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 180px;
  height: 240px;
}

.modal-button-close {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
