.chefs-section {
  &__title {
    position: relative;
    margin-bottom: 80px;
    text-align: center;
    margin: 0 auto;

    &--accent {
      color: var(--color-brand-dark);
    }

    &::before,
    &::after {
      position: absolute;
      bottom: 24px;
      display: block;
      content: '';
      border: 2px solid #cfcfbc;
      width: 352px;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__chef-list {
    display: flex;
    padding-top: 80px;
    flex-wrap: wrap;
    gap: 40px 30px;
  }
}
