.header-container {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 100px 0px 100px;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__main {
    display: flex;
    gap: 64px;
    justify-content: center;
    flex-grow: 1;
  }
}
